@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@200;300;400;500;600;700;800;900&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: url("./images/christmasBackground.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    overflow-x: hidden;
    font-family: 'Barlow', sans-serif;
}
.header {
    text-align: center;
    font-size: 3rem;
    font-weight: 500;
    color: rgb(140, 11, 11);
    padding-top: 2rem;
}
.tree {
   font-size: 2rem;
   padding-bottom: 2rem;
   text-align: center;
   
}
.container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto;
    gap: 1.5rem;
    width: 80%;
   justify-content: center;
   margin-inline: auto;
   margin-bottom: 2rem;
}


    
.advent-day {
    color: rgba(0, 0, 0, 0.9);
    font-size: 2.2rem;
    font-weight: 900;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.8) ;
    width: 100px;
    height: 100px;
    background-color: rgba(245, 245, 245, 0.2);
}

.advent-day:hover {
    cursor: pointer;
    color: rgb(140, 11, 11);
}

.images {
    height: 100%;
    width: 100%; 
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);

}

.modal-content {
  margin: 10% auto;
  padding: 20px;
  background-color: #f4f4f4;
  width: 80%;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);  
  animation-name: openModal;
  animation-duration: 1s;
  
}

.closeBtn {
    color: hsl(0, 0%, 40%);
    float: right;
    font-size: 2rem;
    padding-bottom: 2rem;
}

.closeBtn:hover, .closeBtn:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.message {
    text-align: center;
    padding: 1rem;
    max-width: 90%;
    font-weight: 600;
    line-height: 1.6;
    color: rgba(0, 0, 0, 0.8);
}
.selected {
    background-color: rgb(140, 11, 11);
    opacity: .5;
    color: white;
}
.selected:hover {
    color:rgb(177, 174, 174);
}
@media screen and (max-width: 600px) {
    .container {
        grid-template-columns: repeat(3, 1fr);
        justify-content: center;
    }
    .advent-day {
        height: 65px;
        width: 65px;
    }
};

